body, html {
	margin: 0; padding: 0; height: 100%; overflow: auto;
	background-color: #FAF6E2;
}

/* game */

.game {
	background-color: #F4BD30;
}

.chart-wrap {
	flex: 1;
	flex-basis: 100%;
	width: 100%;
	height: 0;
	padding-top: 100%;
	position: relative;
}
.centred {
	display: flex;
	align-items: center;
	justify-content: center;
}

.highlight {
	font-size: 1.5em;
	color: #712E01;
}

/* create an arrow to suggest scrolling down needed */
/* https://codepen.io/Pichuplayer/pen/BvdVGg?editors=1100 */
.bottom-arrow{
	border-bottom: 5px solid #6a0136;
	text-align: center;
	font-size: 18pt;
}
  
.bottom-arrow:after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-top: 25px solid #6a0136;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
